/*   SignIn Page  */
.sign-in {
    float: right;
    background: whiteSmoke;
    margin: 12px 0 0;
    padding: 20px;
    border: 1px solid #E5E5E5;
}

.welcome-blurb {
    height: 400px;
}

/* Round corners */

.round {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Nav */

nav {
    float: left;
    background: white;
    padding: 0 0.7em;
    white-space: nowrap;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0.2em 0;
}

nav ul li a {
    padding: 0 5px;
    font-weight: bold;
}

/* Projects */
.waiting_project {
    background: gray;
}

/* Steps */
.step_completed {
    text-decoration: line-through;
}

.step_uncompleted {
    font-weight: bold;
}

/* Todo List */
.priority {
    font-weight: bold;
    font-size: 130%;
}
