/* Projects */
.waiting_project {
    background: gray;
}

/* Steps */
.step_completed {
    text-decoration: line-through;
}

.step_uncompleted {
    font-weight: bold;
}

/* Todo List */
.priority {
    font-weight: bold;
    font-size: 130%;
}
