%h1= @title

%p
  For years I had an Excel spreadsheet that I used to track all of my personal
  projects. It worked well but had a few manual elements that always bothered me.
  I thought about converting it into a web app several times but never got around
  to it until now. NextStep is intentionally a fairly simple app - I used it to
  learn Rails so you may notice some evidence of that.

%p
  NextStep is based on several of the techniques I learned from the
  book
  = link_to "Getting Things Done", 'http://www.amazon.com/Getting-Things-Done-Stress-Free-Productivity/dp/0142000280'
  by David Allen. The main two are the breaking down of
  projects into discrete, bite-sized steps, and prioritizing the next thing that needs
  to be worked on based on a combination of Importance and Urgency.
