%h3 Edit project name

= form_for(@project) do |f|
  = f.text_field :name, :class => "NewProject", :size => 100, :autofocus => true, :style => "height:20px;width:600px;"
  = f.submit "Update", :class => 'btn primary'