= form_for(Project.new, :html => { :class => 'form-inline'}) do |f|
  = f.text_field :name, :class => "smallTextbox", :placeholder => 'Add new project', :style => "height:20px;width:600px;"
  = f.submit "Add", :class => 'btn btn-primary'
