%h3 Edit step
= form_for [@project, @step], :html => { :class => 'form-inline'} do |f|
  = f.text_field :content, :autofocus => true, :style => "height:20px;width:600px;"
  = f.select(:estimated_time, %w[5 10 15 20 25 30 35 40], {}, {:style => 'width:80px;'})
  min
  = f.submit "Update", :class => 'btn btn-primary', :style => 'margin-left: 20px;'
